@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rgb(105, 105, 105);
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* removes bullet points*/
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-links,
.right-links {
  display: flex;
  gap: 10px;
  /* text-align: center; */
}

.content {
  text-align: center;
}

.footer {
  background-color: lightgrey;
}


button {
  padding: 8px 12px;
  margin: 14px 4px;
}